  /* 1. Sélectionne les éléments <input> avec l'attribut readonly */
  input:read-only {
    background-color: #f0f0f0;
    border: 1px solid gray;
  }
  
  /* 2. Sélectionne les éléments <input> sans l'attribut readonly */
  input:read-write {
    border: 1px solid blue;
  }
  
  /* 3. Sélectionne les éléments <input> avec l'attribut required */
  input:required {
    border: 2px solid red;
  }
  
  /* 4. Sélectionne l'élément racine du document (typiquement <html>) */
  
  :root {
    background-color: rgb(119, 0, 255);
   }
   body {
     background-color: white;
     padding: 20px;
   }
  
  /* 5. Sélectionne l'élément actif avec un ID spécifique */
  #section1:target {
    background-color: yellow;
  }
  
  /* 6. Sélectionne les éléments <input> avec une valeur valide */
  input:valid {
    border: 2px solid green;
  }
  
  /* 7. Sélectionne les liens non visités */
  a:link {
    color: blue;
  }
  
  /* 8. Sélectionne les liens déjà visités */
  a:visited {
    color: forestgreen;
    text-decoration-color: hotpink;
  }
  
  /* 9. Sélectionne le lien actif (pendant le clic) */
  a:active {
    box-shadow: 2px 2px 5px #fc894d;
  }
  
  /* 10. Sélectionne les liens survolés par la souris */
  a:hover {
    color: green;
  }
  
  /* 11. Sélectionne l'élément <input> avec le focus */
 #inputFocus:focus {
    background-color: lightblue;
  }
  
  /* 12. Sélectionne la première lettre de chaque <p> */
  #p-first-letter:first-letter {
    font-size: 2em;
    color: red;
  }
  
  /* 13. Sélectionne la première ligne */
  #p-first-line:first-line {
    color: blue;
  }
  
  /* 14. Sélectionne le premier enfant de type <p> dans son conteneur */
  p:first-child {
    color: rgb(255, 0, 153);
  }
  
  /* 15. Insère du contenu avant  */
  #p-before:before {
    content: "Avant: ";
    font-weight: bold;
  }
  
  /* 16. Insère du contenu après > */
  #p-after:after {
    content: " :Après";
    font-weight: bold;
  }
  
  /* 17. Sélectionne chaque <p> avec un attribut lang="it" */
  p:lang(it) {
    font-style: italic;
  }
  /* Styles généraux pour la mise en page */
  section {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ccc;
  }
  
