/*
  Flexible box
  - display: flex => To start Flexible box 
  - flex-direction: row => default value
  - flex-wrap: nowrap => default value

  => short hand : 
  flex-flow: [flex-direction] [flex-wrap]

 -----------------------------------------------

  - justify-content: flex-start => default value
  - justify-content: space-between => to add a space between element
 
  ----------------------------------------------

  - align-items: stretch => default value

*/

*{
  box-sizing: border-box;
}

.flex1 {
  background-color: #a42424;
  padding: 10px;
  margin: 20px auto;
  width: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  /* flex-end | center */
  align-items: stretch; /* to add the position verticly */
  /* flex-start | flex-end | center*/
  
  
}

.flex1 div {
  text-align: center;
  flex-wrap: wrap;
  width: 25%;
  padding: 20px;
  color: white;
  background-color: red;
}

.two{
  height: 100px;
}

.center{
  background-color: blue;
  color: white;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------------------------------- */

<body>
    <h2>Flex1</h2>
    <div class="flex1">
      <div>one</div>
      <div class="two">Two</div>
      <div>three</div>
      <div>four</div>
    </div>

    <div class="center">Center</div>
</body>
