/*
 list style: 
 - type
 - position
 - image
 - short hand

 - in the future lessons we will learn some think cald befor and after to edet the style
    of the liste and change on it
  - you can make the bolets of the liste inside or outside(difaulte)
  -short hand : 
    list-style: type position image
*/

ul ul .li1 {
  list-style-position: outside;
  list-style: none;
  list-style-image: url();
  background-color: #eee;
  display: inline-block;
  padding: 10px;
  width: 100px;
  text-align: center;

}
ul ul .li2 {
  list-style-position: inside;
  background-color: #eee;
}

    /* ------------------------ */
<body>
    <ul>
      <li>front-end
        <ul>
          <li class="li1">HTML</li>
          <li class="li1">CSS</li>
          <li class="li1">JS</li>
        </ul>
      </li>
      <li>back-end
        <ul>
          <li class="li2">C++</li>
          <li class="li2"C#</li>
          <li class="li2">PHP</li>
        </ul>
      </li>
    </ul>
    
  </body>
